body{
	background-color: grey;
	text-align: center;
}

table{
	width: 100%;
	height: 100%;
}

#board{
	width: 70%;
	height: 100%;
	margin: auto;
}

.box{
	width: 100%;
	height: 100%;
}